.rows {  
    position: absolute;
    width: 100%;
}

.grid-row {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: red;
    opacity: 1;
}

.row-1 {  top: var(--micromodule)  }
.row-2 {  top: calc(var(--micromodule) * 2)  }
.row-3 {  top: calc(var(--micromodule) * 3)  }
.row-4 {  top: calc(var(--micromodule) * 4)  }
.row-5 {  top: calc(var(--micromodule) * 5)  }
.row-6 {  top: calc(var(--micromodule) * 6)  }
.row-7 {  top: calc(var(--micromodule) * 7)  }
.row-8 {  top: calc(var(--micromodule) * 8)  }
.row-9 {  top: calc(var(--micromodule) * 9)  }
.row-10 {  top: calc(var(--micromodule) * 10)  }
.row-11 {  top: calc(var(--micromodule) * 11)  }
.row-12 {  top: calc(var(--micromodule) * 12)  }
.row-13 {  top: calc(var(--micromodule) * 13)  }
.row-14 {  top: calc(var(--micromodule) * 14)  }
.row-15 {  top: calc(var(--micromodule) * 15)  }
.row-16 {  top: calc(var(--micromodule) * 16)  }
.row-17 {  top: calc(var(--micromodule) * 17)  }
.row-18 {  top: calc(var(--micromodule) * 18)  }
.row-19 {  top: calc(var(--micromodule) * 19)  }
.row-20 {  top: calc(var(--micromodule) * 20)  }
.row-21 {  top: calc(var(--micromodule) * 21)  }
.row-22 {  top: calc(var(--micromodule) * 22)  }
.row-23 {  top: calc(var(--micromodule) * 23)  }
.row-24 {  top: calc(var(--micromodule) * 24)  }
.row-25 {  top: calc(var(--micromodule) * 25)  }
.row-26 {  top: calc(var(--micromodule) * 26)  }
.row-27 {  top: calc(var(--micromodule) * 27)  }
.row-28 {  top: calc(var(--micromodule) * 28)  }
.row-29 {  top: calc(var(--micromodule) * 29)  }
.row-30 {  top: calc(var(--micromodule) * 30)  }
.row-31 {  top: calc(var(--micromodule) * 31)  }
.row-32 {  top: calc(var(--micromodule) * 32)  }
.row-33 {  top: calc(var(--micromodule) * 33)  }
.row-34 {  top: calc(var(--micromodule) * 34)  }
.row-35 {  top: calc(var(--micromodule) * 35)  }
.row-36 {  top: calc(var(--micromodule) * 36)  }
.row-37 {  top: calc(var(--micromodule) * 37)  }
.row-38 {  top: calc(var(--micromodule) * 38)  }
.row-39 {  top: calc(var(--micromodule) * 39)  }
.row-40 {  top: calc(var(--micromodule) * 40)  }
.row-41 {  top: calc(var(--micromodule) * 41)  }
.row-42 {  top: calc(var(--micromodule) * 42)  }
.row-43 {  top: calc(var(--micromodule) * 43)  }
.row-44 {  top: calc(var(--micromodule) * 44)  }
.row-45 {  top: calc(var(--micromodule) * 45)  }
.row-46 {  top: calc(var(--micromodule) * 46)  }
.row-47 {  top: calc(var(--micromodule) * 47)  }
.row-48 {  top: calc(var(--micromodule) * 48)  }
.row-49 {  top: calc(var(--micromodule) * 49)  }
.row-50 {  top: calc(var(--micromodule) * 50)  }
.row-51 {  top: calc(var(--micromodule) * 51)  }
.row-52 {  top: calc(var(--micromodule) * 52)  }
.row-53 {  top: calc(var(--micromodule) * 53)  }
.row-54 {  top: calc(var(--micromodule) * 54)  }
.row-55 {  top: calc(var(--micromodule) * 55)  }
.row-56 {  top: calc(var(--micromodule) * 56)  }
.row-57 {  top: calc(var(--micromodule) * 57)  }
.row-58 {  top: calc(var(--micromodule) * 58)  }
.row-59 {  top: calc(var(--micromodule) * 59)  }
.row-60 {  top: calc(var(--micromodule) * 60)  }
.row-61 { top: calc(var(--micromodule) * 61) }
.row-62 { top: calc(var(--micromodule) * 62) }
.row-63 { top: calc(var(--micromodule) * 63) }
.row-64 { top: calc(var(--micromodule) * 64) }
.row-65 { top: calc(var(--micromodule) * 65) }
.row-66 { top: calc(var(--micromodule) * 66) }
.row-67 { top: calc(var(--micromodule) * 67) }
.row-68 { top: calc(var(--micromodule) * 68) }
.row-69 { top: calc(var(--micromodule) * 69) }
.row-70 { top: calc(var(--micromodule) * 70) }
.row-71 { top: calc(var(--micromodule) * 71) }
.row-72 { top: calc(var(--micromodule) * 72) }
.row-73 { top: calc(var(--micromodule) * 73) }
.row-74 { top: calc(var(--micromodule) * 74) }
.row-75 { top: calc(var(--micromodule) * 75) }
.row-76 { top: calc(var(--micromodule) * 76) }
.row-77 { top: calc(var(--micromodule) * 77) }
.row-78 { top: calc(var(--micromodule) * 78) }
.row-79 { top: calc(var(--micromodule) * 79) }
.row-80 { top: calc(var(--micromodule) * 80) }
.row-81 { top: calc(var(--micromodule) * 81) }
.row-82 { top: calc(var(--micromodule) * 82) }
.row-83 { top: calc(var(--micromodule) * 83) }
.row-84 { top: calc(var(--micromodule) * 84) }
.row-85 { top: calc(var(--micromodule) * 85) }
.row-86 { top: calc(var(--micromodule) * 86) }
.row-87 { top: calc(var(--micromodule) * 87) }
.row-88 { top: calc(var(--micromodule) * 88) }
.row-89 { top: calc(var(--micromodule) * 89) }
.row-90 { top: calc(var(--micromodule) * 90) }
.row-91 { top: calc(var(--micromodule) * 91) }
.row-92 { top: calc(var(--micromodule) * 92) }
.row-93 { top: calc(var(--micromodule) * 93) }
.row-94 { top: calc(var(--micromodule) * 94) }
.row-95 { top: calc(var(--micromodule) * 95) }
.row-96 { top: calc(var(--micromodule) * 96) }
.row-97 { top: calc(var(--micromodule) * 97) }
.row-98 { top: calc(var(--micromodule) * 98) }
.row-99 { top: calc(var(--micromodule) * 99) }
.row-100 { top: calc(var(--micromodule) * 100) }
.row-101 { top: calc(var(--micromodule) * 101) }
.row-102 { top: calc(var(--micromodule) * 102) }
.row-103 { top: calc(var(--micromodule) * 103) }
.row-104 { top: calc(var(--micromodule) * 104) }
.row-105 { top: calc(var(--micromodule) * 105) }
.row-106 { top: calc(var(--micromodule) * 106) }
.row-107 { top: calc(var(--micromodule) * 107) }
.row-108 { top: calc(var(--micromodule) * 108) }
.row-109 { top: calc(var(--micromodule) * 109) }
.row-110 { top: calc(var(--micromodule) * 110) }
.row-111 { top: calc(var(--micromodule) * 111) }
.row-112 { top: calc(var(--micromodule) * 112) }
.row-113 { top: calc(var(--micromodule) * 113) }
.row-114 { top: calc(var(--micromodule) * 114) }
.row-115 { top: calc(var(--micromodule) * 115) }
.row-116 { top: calc(var(--micromodule) * 116) }
.row-117 { top: calc(var(--micromodule) * 117) }
.row-118 { top: calc(var(--micromodule) * 118) }
.row-119 { top: calc(var(--micromodule) * 119) }
.row-120 { top: calc(var(--micromodule) * 120) }
.row-121 { top: calc(var(--micromodule) * 121) }
.row-122 { top: calc(var(--micromodule) * 122) }
.row-123 { top: calc(var(--micromodule) * 123) }
.row-124 { top: calc(var(--micromodule) * 124) }
.row-125 { top: calc(var(--micromodule) * 125) }
.row-126 { top: calc(var(--micromodule) * 126) }
.row-127 { top: calc(var(--micromodule) * 127) }
.row-128 { top: calc(var(--micromodule) * 128) }
.row-129 { top: calc(var(--micromodule) * 129) }
.row-130 { top: calc(var(--micromodule) * 130) }
.row-131 { top: calc(var(--micromodule) * 131) }
.row-132 { top: calc(var(--micromodule) * 132) }
.row-133 { top: calc(var(--micromodule) * 133) }
.row-134 { top: calc(var(--micromodule) * 134) }
.row-135 { top: calc(var(--micromodule) * 135) }
.row-136 { top: calc(var(--micromodule) * 136) }
.row-137 { top: calc(var(--micromodule) * 137) }
.row-138 { top: calc(var(--micromodule) * 138) }
.row-139 { top: calc(var(--micromodule) * 139) }
.row-140 { top: calc(var(--micromodule) * 140) }
.row-141 { top: calc(var(--micromodule) * 141) }
.row-142 { top: calc(var(--micromodule) * 142) }
.row-143 { top: calc(var(--micromodule) * 143) }
.row-144 { top: calc(var(--micromodule) * 144) }
.row-145 { top: calc(var(--micromodule) * 145) }
.row-146 { top: calc(var(--micromodule) * 146) }
.row-147 { top: calc(var(--micromodule) * 147) }
.row-148 { top: calc(var(--micromodule) * 148) }
.row-149 { top: calc(var(--micromodule) * 149) }
.row-150 { top: calc(var(--micromodule) * 150) }
.row-151 { top: calc(var(--micromodule) * 151) }
.row-152 { top: calc(var(--micromodule) * 152) }
.row-153 { top: calc(var(--micromodule) * 153) }
.row-154 { top: calc(var(--micromodule) * 154) }
.row-155 { top: calc(var(--micromodule) * 155) }
.row-156 { top: calc(var(--micromodule) * 156) }
.row-157 { top: calc(var(--micromodule) * 157) }
.row-158 { top: calc(var(--micromodule) * 158) }
.row-159 { top: calc(var(--micromodule) * 159) }
.row-160 { top: calc(var(--micromodule) * 160) }
.row-161 { top: calc(var(--micromodule) * 161) }
.row-162 { top: calc(var(--micromodule) * 162) }
.row-163 { top: calc(var(--micromodule) * 163) }
.row-164 { top: calc(var(--micromodule) * 164) }
.row-165 { top: calc(var(--micromodule) * 165) }
.row-166 { top: calc(var(--micromodule) * 166) }
.row-167 { top: calc(var(--micromodule) * 167) }
.row-168 { top: calc(var(--micromodule) * 168) }
.row-169 { top: calc(var(--micromodule) * 169) }
.row-170 { top: calc(var(--micromodule) * 170) }
.row-171 { top: calc(var(--micromodule) * 171) }
.row-172 { top: calc(var(--micromodule) * 172) }
.row-173 { top: calc(var(--micromodule) * 173) }
.row-174 { top: calc(var(--micromodule) * 174) }
.row-175 { top: calc(var(--micromodule) * 175) }
.row-176 { top: calc(var(--micromodule) * 176) }
.row-177 { top: calc(var(--micromodule) * 177) }
.row-178 { top: calc(var(--micromodule) * 178) }
.row-179 { top: calc(var(--micromodule) * 179) }
.row-180 { top: calc(var(--micromodule) * 180) }
.row-181 { top: calc(var(--micromodule) * 181) }
.row-182 { top: calc(var(--micromodule) * 182) }
.row-183 { top: calc(var(--micromodule) * 183) }
.row-184 { top: calc(var(--micromodule) * 184) }
.row-185 { top: calc(var(--micromodule) * 185) }
.row-186 { top: calc(var(--micromodule) * 186) }
.row-187 { top: calc(var(--micromodule) * 187) }
.row-188 { top: calc(var(--micromodule) * 188) }
.row-189 { top: calc(var(--micromodule) * 189) }
.row-190 { top: calc(var(--micromodule) * 190) }
.row-191 { top: calc(var(--micromodule) * 191) }
.row-192 { top: calc(var(--micromodule) * 192) }
.row-193 { top: calc(var(--micromodule) * 193) }
.row-194 { top: calc(var(--micromodule) * 194) }
.row-195 { top: calc(var(--micromodule) * 195) }
.row-196 { top: calc(var(--micromodule) * 196) }
.row-197 { top: calc(var(--micromodule) * 197) }
.row-198 { top: calc(var(--micromodule) * 198) }
.row-199 { top: calc(var(--micromodule) * 199) }
.row-200 { top: calc(var(--micromodule) * 200) }
.row-201 { top: calc(var(--micromodule) * 201) }
.row-202 { top: calc(var(--micromodule) * 202) }
.row-203 { top: calc(var(--micromodule) * 203) }
.row-204 { top: calc(var(--micromodule) * 204) }
.row-205 { top: calc(var(--micromodule) * 205) }
.row-206 { top: calc(var(--micromodule) * 206) }
.row-207 { top: calc(var(--micromodule) * 207) }
.row-208 { top: calc(var(--micromodule) * 208) }
.row-209 { top: calc(var(--micromodule) * 209) }
.row-210 { top: calc(var(--micromodule) * 210) }
.row-211 { top: calc(var(--micromodule) * 211) }
.row-212 { top: calc(var(--micromodule) * 212) }
.row-213 { top: calc(var(--micromodule) * 213) }
.row-214 { top: calc(var(--micromodule) * 214) }
.row-215 { top: calc(var(--micromodule) * 215) }
.row-216 { top: calc(var(--micromodule) * 216) }
.row-217 { top: calc(var(--micromodule) * 217) }
.row-218 { top: calc(var(--micromodule) * 218) }
.row-219 { top: calc(var(--micromodule) * 219) }
.row-220 { top: calc(var(--micromodule) * 220) }
.row-221 { top: calc(var(--micromodule) * 221) }
.row-222 { top: calc(var(--micromodule) * 222) }
.row-223 { top: calc(var(--micromodule) * 223) }
.row-224 { top: calc(var(--micromodule) * 224) }
.row-225 { top: calc(var(--micromodule) * 225) }
.row-226 { top: calc(var(--micromodule) * 226) }
.row-227 { top: calc(var(--micromodule) * 227) }
.row-228 { top: calc(var(--micromodule) * 228) }
.row-229 { top: calc(var(--micromodule) * 229) }
.row-230 { top: calc(var(--micromodule) * 230) }
.row-231 { top: calc(var(--micromodule) * 231) }
.row-232 { top: calc(var(--micromodule) * 232) }
.row-233 { top: calc(var(--micromodule) * 233) }
.row-234 { top: calc(var(--micromodule) * 234) }

.main-rows {
  display: grid;
  position: absolute;
  top: 0;
  grid-template-rows: repeat(500, 24px);
}

#grid { 
    width: 1192px;
    position: fixed;
    left: calc(((100% - 1280px) / 2) + var(--page-margin));
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 24px;
}

#grid div {
  font-size: 5vw;
  border: 1px solid gold;
  text-align: center;
  height: 100%;
}






/* цветовая схема */
/* синий — #06418C */
/* белый — #F0EADC */
/* черный — #262626 */

@font-face {
    font-family: "Repro";
    src: url(../fonts/Repro.woff);
}
@font-face {
    font-family: "Repro Outline";
    /* src: url(../fonts/Repro\ Outline-2.woff); */
    src: url(../fonts/Repro\ Outline-Regular-web.otf);
}
@font-face {
    font-family: "NF";
    src: url(../fonts/NF.woff);
}

html {
    box-sizing: border-box;
    font-size: 0;
  }

*, *:before, *:after {
    box-sizing: inherit;
    color: #F0EADC;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #06418C;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    /* border: 1px solid pink; */
}

p {
    margin: 0;
    padding: 0;
    font-family: "Repro";
}

ul {  
    list-style: none;
    padding: 0;
  }

:root {
    --micromodule: 24px;
    --page-column-width: 128px;
    --page-margin: 44px;

    --fm-capitalHeight: 0.7;
    --fm-x-height: 0.53;
    --fm-emSquare: 1;
    --fm-descender: 0.16;
    --fm-ascender: 0.84;
    --fm-linegap: 0;
    
    --lineheightNormal: (var(--fm-ascender) + var(--fm-descender) + var(--fm-linegap));
    --distanceBottom: (var(--fm-descender));
    --distanceTop: (var(--fm-ascender) - var(--fm-x-height));


  /* styles */
    /* h1 */
    --capital-height-h1: 48;
    --line-height-h1: 1;

    --computedFontSize-h1: (var(--capital-height-h1) / var(--fm-x-height));
    --valign-h1: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize-h1));  
    --computedLineheight-h1: ((var(--line-height-h1) * var(--capital-height-h1)) - var(--valign-h1));
    --contentArea-h1: (var(--lineheightNormal) * var(--computedFontSize-h1));

    --h1-font-size: calc(var(--computedFontSize-h1) * 1px);
    --h1-line-height: calc(var(--computedLineheight-h1) * 1px);
    --h1-margin-top: calc((-1 + ((var(--fm-x-height) / var(--fm-capitalHeight)))) * var(--h1-line-height));

        /* h2 */
    --capital-height-h2: 48;
    --line-height-h2: 1;

    --computedFontSize-h2: (var(--capital-height-h2) / var(--fm-x-height));
    --valign-h2: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize-h2));  
    --computedLineheight-h2: ((var(--line-height-h2) * var(--capital-height-h2)) - var(--valign-h2));
    --contentArea-h2: (var(--lineheightNormal) * var(--computedFontSize-h2));

    --h2-font-size: calc(var(--computedFontSize-h2) * 1px);
    --h2-line-height: calc(var(--computedLineheight-h2) * 1px);
    --h2-margin-top: calc(((-1 + ((var(--fm-x-height) / var(--fm-capitalHeight)))) * var(--h1-line-height)) + 9px);

        /* h3 */
    --capital-height-h3: 48;
    --line-height-h3: 1;

    --computedFontSize-h3: (var(--capital-height-h3) / var(--fm-x-height));
    --valign-h3: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize-h3));  
    --computedLineheight-h3: ((var(--line-height-h3) * var(--capital-height-h3)) - var(--valign-h3));
    --contentArea-h3: (var(--lineheightNormal) * var(--computedFontSize-h3));

    --h3-font-size: calc(var(--computedFontSize-h3) * 1px);
    --h3-line-height: calc(var(--computedLineheight-h3) * 1px);
    --h3-margin-top: calc((-1 + ((var(--fm-x-height) / var(--fm-capitalHeight)))) * var(--h3-line-height));

        /* small-repro-7-2 */
    
    --capital-height-small-repro-7-2: 7;
    --line-height-small-repro-7-2: 2;

    --computedFontSize-small-repro-7-2: (var(--capital-height-small-repro-7-2) / var(--fm-x-height));
    --valign-small-repro-7-2: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize-small-repro-7-2));  
    --computedLineheight-small-repro-7-2: ((var(--line-height-small-repro-7-2) * var(--capital-height-small-repro-7-2)) - var(--valign-small-repro-7-2));
    --contentArea-small-repro-7-2: (var(--lineheightNormal) * var(--computedFontSize-small-repro-7-2));

    --small-repro-7-2-font-size: calc(var(--computedFontSize-small-repro-7-2) * 1px);
    --small-repro-7-2-line-height: calc(var(--computedLineheight-small-repro-7-2) * 1px);
    --small-repro-7-2-margin-top: calc((-1 + ((var(--fm-x-height) / var(--fm-capitalHeight)))) * var(--small-repro-7-2-line-height));

        /* large-repro-18-2 */
    
    --capital-height-large-repro-18-2: 18;
    --line-height-large-repro-18-2: 1.9;

    --computedFontSize-large-repro-18-2: (var(--capital-height-large-repro-18-2) / var(--fm-x-height));
    --valign-large-repro-18-2: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize-large-repro-18-2));  
    --computedLineheight-large-repro-18-2: ((var(--line-height-large-repro-18-2) * var(--capital-height-large-repro-18-2)) - var(--valign-large-repro-18-2));
    --contentArea-large-repro-18-2: (var(--lineheightNormal) * var(--computedFontSize-large-repro-18-2));

    --large-repro-18-2-font-size: calc(var(--computedFontSize-large-repro-18-2) * 1px);
    --large-repro-18-2-line-height: calc(var(--computedLineheight-large-repro-18-2) * 1px);
    --large-repro-18-2-margin-top: calc((-1 + ((var(--fm-x-height) / var(--fm-capitalHeight)))) * var(--large-repro-18-2-line-height));


       /* large-nf-68-2 */
    
    --capital-height-large-nf-68-2: 68;
    --line-height-large-nf-68-2: 1;

    --computedFontSize-large-nf-68-2: (var(--capital-height-large-nf-68-2) / var(--fm-x-height));
    --valign-large-nf-68-2: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize-large-nf-68-2));  
    --computedLineheight-large-nf-68-2: ((var(--line-height-large-nf-68-2) * var(--capital-height-large-nf-68-2)) - var(--valign-large-nf-68-2));
    --contentArea-large-nf-68-2: (var(--lineheightNormal) * var(--computedFontSize-large-nf-68-2));

    --large-nf-68-2-font-size: calc(var(--computedFontSize-large-nf-68-2) * 1px);
    --large-nf-68-2-line-height: calc(var(--computedLineheight-large-nf-68-2) * 1px);
    --large-nf-68-2-margin-top: calc((-1 + ((var(--fm-x-height) / var(--fm-capitalHeight)))) * var(--large-nf-68-2-line-height));

      /* medium-repro-11-2 */
    
    --capital-height-medium-repro-11-2: 11;
    --line-height-medium-repro-11-2: 2;

    --computedFontSize-medium-repro-11-2: (var(--capital-height-medium-repro-11-2) / var(--fm-x-height));
    --valign-medium-repro-11-2: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize-medium-repro-11-2));  
    --computedLineheight-medium-repro-11-2: ((var(--line-height-medium-repro-11-2) * var(--capital-height-medium-repro-11-2)) - var(--valign-medium-repro-11-2));
    --contentArea-medium-repro-11-2: (var(--lineheightNormal) * var(--computedFontSize-medium-repro-11-2));

    --medium-repro-11-2-font-size: calc(var(--computedFontSize-medium-repro-11-2) * 1px);
    --medium-repro-11-2-line-height: calc(var(--computedLineheight-medium-repro-11-2) * 1px);
    --medium-repro-11-2-margin-top: calc((-1 + ((var(--fm-x-height) / var(--fm-capitalHeight)))) * var(--medium-repro-11-2-line-height));

      /* large-repro-24 */

      --capital-height-large-repro-24: 24;
    --line-height-large-repro-24: 1;

    --computedFontSize-large-repro-24: (var(--capital-height-large-repro-24) / var(--fm-x-height));
    --valign-large-repro-24: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize-large-repro-24));  
    --computedLineheight-large-repro-24: ((var(--line-height-large-repro-24) * var(--capital-height-large-repro-24)) - var(--valign-large-repro-24));
    --contentArea-large-repro-24: (var(--lineheightNormal) * var(--computedFontSize-large-repro-24));

    --large-repro-24-font-size: calc(var(--computedFontSize-large-repro-24) * 1px);
    --large-repro-24-line-height: calc(var(--computedLineheight-large-repro-24) * 1px);
    --large-repro-24-margin-top: calc((-1 + ((var(--fm-x-height) / var(--fm-capitalHeight)))) * var(--large-repro-24-line-height));
  }


.blacktext {
  color: #262626;
  margin-top: -20px;
}


.content-wrapper {
  padding-top: 0;
  max-width: 100%;
  /* min-width: 61.8%; */
  width: 1280px;
  margin: 0 auto;
}

/* ? HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0;
  height: 96px;
  /* background-color: green; */
}

.navigation-circles {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-circles__button {
    margin-right: 10px;
  }

.navigation-circles__button > svg {
  fill: #262626;
  transition: 0.2s ease;
}

.navigation-circles__button > svg:hover {
  fill: #F0EADC;
  transition: 0.2s;
  cursor: pointer;
}

.all-events-button {
  display: flex;
  align-items: center;
  height: 48px;
  width: 216px;
  /* background-color: pink; */
  border: 2px solid #262626;
  transition: 0.2s;
  cursor: pointer;
}

.all-events-button:hover {
  display: flex;
  align-items: center;
  height: 48px;
  width: 216px;
  /* background-color: pink; */
  /* border: 2px solid #262626; */
  background-color: #F0EADC;
  transition: 0.2s;
}

.all-events-button > span {
  width: auto;
  height: auto;
  margin: auto;
  display: block;
  color: #262626;
}

/* ? OPENER */

.opener {
  padding: 0 3% 0;
}

h1 {
    font-family: "Repro Outline";
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    margin-top: calc(var(--h1-margin-top) + 24px);
}

h2 {  
    font-family: "Repro";
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    margin-top: calc(var(--h2-margin-top) + 27px);
    margin-bottom: -4px;
}

h3 {
  color: #262626;
  font-family: "NF";
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    margin-top: calc(var(--h3-margin-top) + 24px);
}

.small-repro-7-2 {
    font-family: "Repro";

    font-size: var(--small-repro-7-2-font-size);
    line-height: var(--small-repro-7-2-line-height);
    margin-top: var(--small-repro-7-2-margin-top);
}

.large-repro-18-2 {
    font-family: "Repro";

    font-size: var(--large-repro-18-2-font-size);
    line-height: var(--large-repro-18-2-line-height);
    margin-top: var(--large-repro-18-2-margin-top);
}

.large-nf-68-2 {
    font-family: "NF";
    
    font-size: var(--large-nf-68-2-font-size);
    line-height: var(--large-nf-68-2-line-height);
    margin-top: var(--large-nf-68-2-margin-top);

}

.medium-repro-11-2 {
    font-family: "Repro";

    font-size: var(--medium-repro-11-2-font-size);
    line-height: var(--medium-repro-11-2-line-height);
    margin-top: var(--medium-repro-11-2-margin-top);
}

.image-row {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 3% minmax(280px, 280px) 2% minmax(72px,128px) 2% minmax(195px,432px) 2% minmax(155px, 280px) 3%;
  overflow: hidden;
  grid-template-rows: auto 48px;
}



video {
  grid-row: 1;
  grid-column: 2/9;
  height: auto;
  width: 100%;
}



.left {
  grid-column: 1/2;
  grid-row: 1/3;
}

.right {  
  grid-column: 9;
  grid-row: 1/3;
}

.progr:nth-child(1) {
  grid-column: 1;
  grid-row: 1/5;
}

.progr:nth-child(3) {
  grid-column: 3;
  grid-row: 1/5;
}

.progr:nth-child(5) {
  grid-column: 5;
  grid-row: 1/4;
}
.progr:nth-child(7) {
  grid-column: 7;
  grid-row: 1/4;
}
.progr:nth-child(9) {
  grid-column: 9;
  grid-row: 1/4;
}

.tab-line svg {
    position: relative;
    width: 100%;
    height: 100%;
    color: #262626
}

/* ? programm */

.table-head {
  display: grid;
    /* grid-template-columns: 44px 280px 24px 128px 24px 432px 24px 280px 44px; */
  grid-template-columns: 3% minmax(280px, 280px) 2% minmax(72px,128px) 2% minmax(195px,432px) 2% minmax(155px, 280px) 3%;  
  overflow: visible;
  grid-template-rows: 72px;
  z-index: 90;
}

.table-head p {
  color: #262626;
}

.row-item {
    display: grid;
    /* grid-template-columns: 44px 280px 24px 128px 24px 432px 24px 280px 44px; */
    grid-template-columns: 3% minmax(280px, 280px) 2% minmax(72px,128px) 2% minmax(195px,432px) 2% minmax(155px, 280px) 3%;
    grid-template-rows: 600px 504px 768px 96px;
    overflow: visible;
}

.programm .small-repro-7-2 {
  margin-top: calc( -1.25 * var(--small-repro-7-2-line-height));
}

/* ? instruments */

.instruments-row {
    display: grid;
    grid-template-columns: 3% minmax(280px, 280px) 2% minmax(280px, 432px) 1fr;
    grid-template-rows: 408px;
    padding-bottom: 48px;
    border-bottom: 1px solid #262626;
}

.instruments-row tab-line:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.small-repro-7-2 ul {
    font-family: "Repro";

    font-size: var(--small-repro-7-2-font-size);
    line-height: var(--small-repro-7-2-line-height);
    margin-top: var(--small-repro-7-2-margin-top);
}


/* ? curator */

/* .curator .row-item {
    padding: 24px 0 0;
    grid-template-columns: 3% minmax(304px, 304px) 120px minmax(0, 168px) 1fr 3%;
    grid-template-rows: 144px;
} */

.curator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.curator p {
    padding: 24px 0 0;
}

.curator__left {
  display: flex;
  justify-content: flex-start;
  width: 48%;
  /* background-color: rgb(25, 63, 25); */
  margin-left: 3%;
  margin-top: 48px;
  margin-bottom: 24px;
}

.curator-name {
  min-width: 304px;
  font-family: "Repro";
  font-size: var(--medium-repro-11-2-font-size);
  line-height: var(--medium-repro-11-2-line-height);
  margin-top: var(--medium-repro-11-2-margin-top);
}

.curator img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
}

.profile {
    margin-top: 48px;
    width: 48%;
    margin-right: 3%;
}

.profile p {
    font-family: "Repro";
    font-size: var(--small-repro-7-2-font-size);
    line-height: var(--small-repro-7-2-line-height);
    margin-top: var(--small-repro-7-2-margin-top);
}

/* ? widget */


.black-background {
  background-color: #262626;
}
.register {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
}

.information {
  width: 52%;
  height: 144px;
  /* background-color: rgb(25, 63, 25); */
  padding-left: 3%;
  margin-top: 48px;
}

.large-repro-24:first-child {
  margin-top: calc(var(--large-repro-24-margin-top) + 5px);
}

.outline {
  font-family: "Repro Outline" !important;
  margin-top: calc(var(--large-repro-24-margin-top) + 20px) !important;
}

.large-repro-24 {
  font-family: "Repro";
  color: #F0EADC;
  font-size: var(--large-repro-24-font-size);
  line-height: var(--large-repro-24-line-height);
  margin-top: calc(var(--large-repro-24-margin-top) + 29px);
  display: block;
  /* border: 1px solid aqua; */
}

.widget {
  margin-right: 3%;
  min-width: 456px;
  width: 48%;
  /* background-color: red; */
  margin-top: 36px;
  margin-bottom: 48px;
  background-color: blue;
}



.b-input-block .i-question-control {
  padding: 10px 0 !important;
}


/* ? footer */

footer {
    background: #000;
    padding: 0;
    height: 408px;
    margin: 0;
}

footer p {
    padding-top: 48px;

    font-family: "Repro";

    --fm-capitalHeight: .7;
    --fm-x-height: .53;
    --fm-emSquare: 1;
    --fm-descender: 0.16;
    --fm-ascender: 0.84;
    --fm-linegap: 0;
    
    /* desired capital height and line-height */
    --capital-height: 16;
    --line-height: 1.6;

    --lineheightNormal: (var(--fm-ascender) + var(--fm-descender) + var(--fm-linegap));
    --distanceBottom: (var(--fm-descender));
    --distanceTop: (var(--fm-ascender) - var(--fm-x-height));
    --computedFontSize: (var(--capital-height) / var(--fm-x-height));
    --valign: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize));  
    --computedLineheight: ((var(--line-height) * var(--capital-height)) - var(--valign));
    --contentArea: (var(--lineheightNormal) * var(--computedFontSize));

  /* set capital height to equal font-size */
    font-size: calc(var(--computedFontSize) * 1px);

  /* set computed line-height */
    line-height: calc(var(--computedLineheight) * 1px);

    /* --x-height-corrector: calc((var(--fm-capitalHeight) - var(--fm-x-height)) * 1px); */

    margin-top: calc((var(--fm-ascender) - var(--fm-x-height)) * -26px);
}